.answer-indent { margin-top:20px; margin-left:40px; }
.neosrulez-comments { margin-top:3em; }
.comment-textarea { height:69px; }

@media only screen and (max-width: 575px) {
    .answer-indent { margin-left:20px; }
}