{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<h3>{f:translate(id: 'leavecomment', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}</h3>
<div class="row">
    <div class="col-sm-4">
        <f:form action="create" objectName="newComment">
        <div class="form-group">
            <label for="name">{f:translate(id: 'name', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}<span class="required">*</span></label>
            <f:form.textfield id="name" property="name" class="form-control" errorClass="is-invalid" value="" placeholder="{f:translate(id: 'name', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}" />
        </div>
        <div class="form-group">
            <label for="email">{f:translate(id: 'email', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}<span class="required">*</span></label>
            <f:form.textfield id="email" property="email" class="form-control" errorClass="is-invalid" value="" placeholder="{f:translate(id: 'email', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}" />
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="comment">{f:translate(id: 'comment', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}<span class="required">*</span></label>
            <f:form.textarea id="comment" property="comment" class="form-control comment-textarea" errorClass="is-invalid" value="" placeholder="{f:translate(id: 'comment', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}" />
        </div>
        <button type="submit" class="btn btn-primary">{f:translate(id: 'savecomment', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}</button>
        <f:form.hidden property="node" value="{documentnode}"/>
        <f:form.hidden name="backlink" value="{url}"/>
        </f:form>
    </div>
</div>
<div class="neosrulez-comments">
    <f:if condition="{comments}">
        <f:for each="{comments}" as="comment">
            <f:if condition="{comment.deleted}==0">
                <div id="comment<f:format.identifier>{comment}</f:format.identifier>" class="media">
                <f:if condition="{usingGravatar}=1"><img class="align-self-start mr-3" src="http://gravatar.com/avatar/{comment.emailmd5}?s={gravatarImgSize}" alt="{comment.name}"></f:if>
                <div class="media-body">
                    <small class="text-muted"><strong>{comment.name}</strong> {f:translate(id: 'write', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')} <f:format.date format='d.m.Y'>{comment.created}</f:format.date>{f:translate(id: 'at', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}<f:format.date format='H:i'>{comment.created}</f:format.date>{f:translate(id: 'oclock', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}</small>
                    <p><f:format.nl2br>{comment.comment}</f:format.nl2br></p>
                </div>
            </div>
                <f:if condition="{comment.answer}">
                    <div class="media answer-indent">
                        <f:if condition="{usingGravatar}=1"><img class="align-self-start mr-3" src="http://gravatar.com/avatar/{adminMailmd5}?s={gravatarImgSize}" alt="{comment.name}"></f:if>
                        <div class="media-body">
                            <small class="text-muted"><strong>{adminName}</strong> {f:translate(id: 'answered', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')} <f:format.date format='d.m.Y'>{comment.answercreated}</f:format.date>{f:translate(id: 'at', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}<f:format.date format='H:i'>{comment.answercreated}</f:format.date>{f:translate(id: 'oclock', package: 'NeosRulez.Comments', source: 'NodeTypes/Comments')}</small>
                            <p><f:format.nl2br>{comment.answer}</f:format.nl2br></p>
                        </div>
                    </div>
                </f:if>
            <hr>
            </f:if>
        </f:for>
    </f:if>
</div>

